.planodefundo {

    background: #f1f1f0;
}

.caixacentral {

    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #000000;
    border-radius: 0 0 10px 10px;
}

.titulo-resiliaflix {

    font-size: 50px;
    font-weight: bold;
    color: #dbd80d;
    padding-left: 25px;
    font-style: italic;
        
}

.navbar {

    display: flex;
    align-items: center;
    font-size: 20px;
    border: 20px;
    margin-right: 5px;
}

.navbar form {

    display: flex;
    margin-top: 10px;
}

.navbar label {

    color: #FFFFFF;
}

.campodebusca {

    display: flex;
    margin-right: 5px;
}

.navbar input {

    vertical-align: -webkit-baseline-middle;
    
}

.navbar a {

    padding: 5px;
    font-style: italic;
    text-decoration: none;
    font-weight: bold;
    vertical-align: -webkit-baseline-middle;
    border: 1px solid #dbd80d;
    border-radius: 5px;
    background: #dabe1f;
}

.navbar a:hover {

    color: #FFFFFF;
}



.div-banner {

    width: 100%;
    text-align: center;
}

.banner {

    width: 40%;
    text-align: center;
}

.titulo {

    color: #000000;
    background: #dabe1f;
    padding: 10px 100px;
    margin: 20px 0;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-family: cursive;
}


.categorias {

    display: flex;
    justify-content: center;
}

.categorias li {

    padding: 10px;
    border: 2px solid #000000;   
    border-radius: 5px;
    background: #02476ea2;
    width: 25%;
    margin: 10px;
    text-align: center;
}

.categorias li:hover {

    padding: 20px;
    transition: 30ms;
    background: #CCCCCC;
}

.categorias li a {

    text-decoration: none;
}

.categorias h2 {

    font-size: 23px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.img-categorias {

    width: 100%;
}

.legenda-categorias {

    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
    margin: 5px;
}

.rodape {

    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    background: #dabe1f;
    
}

.rodape div {

   margin-top: 5px;
   width: 100%;
   text-align: center;
}



.rodape h3 {

    font-size: 15px;
    margin: 10px;
}

